:root {
--main-color: #1064E9;
--m-color: #86A3B1;
--c-color: #F4F4F4;
--n-color: #027870;
--t-color: #86A3B1;
}

body {
  /*max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;*/


  display: flex;
  flex-direction: column; 
  margin: auto;
  min-height: 100vh;
  min-width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--m-color);
}

main {
  display: grid;
  
  max-width: 100%;
  min-height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  
}
img {
  border-radius: 8px;
 /* width: 282px;
  height: 449px;*/
  width: 100px;
  height: 155px;
  border: 2px solid #F4F4F4;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}


.container {
  width: 100px;
  height: 155px;
  /*width: 300px;
  height: 450px;*/
  perspective: 500px;
  cursor: pointer;
}
 .card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
  transition-delay: 0.1s;
  transition-duration: 1s;
 }

.container:hover .card {
  transform: rotateY(180deg);
}

.card-back, .card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

  .card-front {
    transform: rotateY(180deg);
  }

.card-front img, .card-back img {
  width: 100%;
  height: 100%;
}